<div class="row">
    <div class="col-lg-12"><p><a href="{% if entity.online == 0 %}{{path('back_office_bouteilles_a_moderer')}}{% else %}{{path('back_office_bouteilles')}}{% endif %}" class="btn btn-default btn-sm" role="button"><i class="fa fa-caret-left fa-fw"></i> Retour</a></p></div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
    