@import 'bourbon/bourbon';
@import 'neat/neat';

$tablet: new-breakpoint(max-width 1024px 12);
$phat-mobile: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 480px 12);
$small-mobile: new-breakpoint(max-width 320px 12);

@import 'responsive/layout';
@import 'responsive/misc';

@import 'responsive/prehome';
@import 'responsive/home';
@import 'responsive/subscription';
@import 'responsive/cave';
@import 'responsive/ajouter_une_bouteille';
@import 'responsive/fiche-bouteille';
@import 'responsive/message';
@import 'responsive/presse';
@import 'responsive/resultat-de-recherche';
@import 'responsive/mode-demploi';

@import 'responsive/modules';