<div id="listingResultat" class="winethumb-container sort-container bottle-list" data-total-bottle="{{totalBouteilles}}" data-total-ref="{{bouteilles|length}}">
    {% if withResults %}
        {% if bouteilles|length > 0 %}
            {% for bouteille in bouteilles %}
                {% include 'AppBundle:Bouteille:_blocBouteilleWithTroqueur.html.twig' with {'bouteille' : bouteille} %}
            {% endfor %}
        {% else %}
            {{"Aucun résultat ne correspond."|trans}}
        {% endif %}
        <div class="clearfix"></div>
    {% else %}
        {{"Utilisez les filtres pour lancer une recherche."|trans}}
    {% endif %}
</div>