<div id="listingResultat" class="winethumb-container sort-container" data-total="{{troqueurs|length}}">
    {% if withResults %}
        {% if troqueurs|length > 0 %}
            {% for troqueur in troqueurs %}
                {% include 'AppBundle:Troqueur:_blocTroqueur.html.twig' with {'troqueur' : troqueur} %}
            {% endfor %}
        {% else %}
            {{"Aucun résultat ne correspond."|trans}}
        {% endif %}
        <div class="clearfix"></div>
    {% else %}
        {{"Utilisez les filtres pour lancer une recherche."|trans}}
    {% endif %}
</div>