<div class="row">
    <div class="col-lg-12">
        {% if entity.id is not null %}
        <h2 class="page-header">Adresses TW</h2>
        {% else %}
        <h2 class="page-header">Nouvelle adresse TW</h2>
        {% endif %}
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
    