<header>
    <div class="site-wrapper">
        <div class="row txt12px">
            <div class="col-md-8"></div>
            <div class="col-md-4"><a href="{{path('front_inscription')}}">Inscription</a> - <a href="#" onClick="showLogin(); return false;">Connexion</a> - <a href="{{path('front_mode_emploi')}}">Mode d'emploi</a>
            </div>
        </div>
    </div>
</header>