{% extends '::base.html.twig' %}

{% block bodyclass %}prehome-wrapper{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="prehome-bg"></div>
    <div class="wrapper">
            <section class="prehome-container">
                    <header>
                            <p class="greetings-title">Bienvenue<br>sur</p>
                            <h1 class="full-logo">TrocWine</h1>
                            <h2>Constituez votre cave sans dépenser un centime.</h2>
                    </header>
                    <article class="prehome-disclamer">
                            <p><!--
                            -->Pour visiter notre site,
                                    vous devez être en âge de consomme
                                    de l'alcool selon la législation en vigueur
                                    dans votre pays de résidence.

                                    S'il n'existe pas de législation
                                    à cet égard dans votre pays
                                    vous devez être âgé
                                    de 21 ans au moins.
                            </p>
                            <a href="{{path('front_accueil')}}" class="btn-ok">Ok</a>
                    </article>
            </section>
    </div>
{% endblock %}
