<div class="fullwidth-wrapper" id="listingBouteille">
    <div class="site-wrapper">
        <div class="row">
            <section class="winethumb-container container sort-container">
                {% if bouteilles|length > 0 %}
                    {% for bouteille in bouteilles %}
                        {% include 'AppBundle:Bouteille:_blocBouteille.html.twig' with {'bouteille' : bouteille} %}
                    {% endfor %}
                {% else %}
                    Aucune bouteille dans votre cave.
                {% endif %}
            </section>
        </div>
    </div>
</div>