<table width="620" class="w620" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
  <tr>
        <td>
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
                        <tr bgcolor="#e6e6e6">
                        <td height="5"></td>
                                <td></td>
                        <td></td>
                        </tr>
                        <tr bgcolor="#e6e6e6">
                        <td height="33" width="20"></td>
                                <td align="center">							
                                        <font face="Arial, Helvetica, sans-serif" size="3" color="#740612" style="color: #740612; font: 15px/17px Arial, Helvetica, sans-serif;">
                                        CONTACT<br>
                                        </font>
                                </td>
                        <td width="20"></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                        <td height="1"></td>
                                <td></td>
                        <td></td>
                        </tr>							
                        <tr bgcolor="#e6e6e6">
                        <td height="5"></td>
                                <td></td>
                        <td></td>
                        </tr>
                        <tr bgcolor="#e6e6e6">
                        <td height="14" width="20"></td>
                                <td align="center">							
                                        <font face="Arial, Helvetica, sans-serif" size="3" color="#343434" style="color: #343434; font: 10px/12px Arial, Helvetica, sans-serif;">
                                        <span style="text-decoration: underline"><a href="{{ app_front_url ~ path('front_mentions_legales') }}">Mentions l&eacute;gales</a></span> / <span style="text-decoration: underline"><a href="{{ app_front_url ~ path('front_politique_de_cookies') }}">Politique de cookies</a></span> / TrocWine&reg;
                                        </font>
                                </td>
                        <td width="20"></td>
                        </tr>
                        <tr bgcolor="#e6e6e6">
                        <td height="5"></td>
                                <td></td>
                        <td></td>
                        </tr>
                        <tr bgcolor="#740612">
                        <td height="5"></td>
                                <td></td>
                        <td></td>
                        </tr>
                </table>
        </td>
  </tr>
</table>
