{% extends "::baseMail.html.twig" %}

{% set titleMail = "Abandon troc proposé" %}

{% block title %} {{ parent() }} - {{ titleMail }}{% endblock %}


{% block stylesheets %}                        
    {{ parent() }}
    {% include 'AppBundle:Mailing:_stylesheet.html.twig' %} 
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="BGtable" bgcolor="#ffffff" style="font-size:0;">
	<tr>
	  <td align="center">		
                {% include 'AppBundle:Mailing:_top_header.html.twig' with { 'titleMail' : titleMail }%}                 
                {% include 'AppBundle:Mailing:_header.html.twig' %} 
		<table width="600" class="w600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
		  <tr>
		    <td height="42"></td>
		  </tr>
		  <tr>
		    <td>
			  <font face="Arial, Helvetica, sans-serif" size="3" color="#740612" style="color: #740612; font: 24px/26px Arial, Helvetica, sans-serif; font-weight:bold;">
			  Bonjour #PRENOM1#, <br><br>
			  </font>
		    </td>
		  </tr>
		  <tr>
		    <td>
			  <font face="Arial, Helvetica, sans-serif" size="3" color="#000000" style="color: #00000; font: 14px/16px Arial, Helvetica, sans-serif;">
			  #PRENOM2# a abandonné le troc #REF# qui vous était proposé.<br><br><br>
			  </font>
		    </td>
		  </tr>
		  <tr>
		  <tr>
		    <td>
			  <font face="Arial, Helvetica, sans-serif" size="3" color="#000000" style="color: #00000; font: 14px/16px Arial, Helvetica, sans-serif;">
			  Pour réaliser de nouvelles propositions de troc, merci de vous identifier sur votre espace en suivant <a href="#LIEN_ACCES_ESPACE#"><span color="#740612" style="color: #740612; font: 18px/20px Arial, Helvetica, sans-serif; text-decoration:underline;">CE LIEN</span></a><br><br><br>
			  </font>
		    </td>
		  </tr>
		  <tr>
		    <td>
			  <font face="Arial, Helvetica, sans-serif" size="3" color="#000000" style="color: #00000; font: 14px/16px Arial, Helvetica, sans-serif;">
			  Sinc&egrave;res salutations,<br><span color="#740612" style="color: #740612; font: 14px/16px Arial, Helvetica, sans-serif;">L&rsquo;&eacute;quipe TrocWine</span>
			  </font>
		    </td>
		  </tr>
		   <tr>
		    <td height="41"></td>
		  </tr>
		</table>                
                {% include 'AppBundle:Mailing:_footer.html.twig' %} 
	  </td>
	</tr>
  </table>
{% endblock %}