.Vollkorn{   
    font-family: 'Vollkorn', serif;
}
.pourpre{
    color: #740612;
}
.txt11px{
    font-size: 11px;
    line-height: 14px;
}
.txt12px{
    font-size: 12px;
    line-height: 15px;
}
.txt13px{
    font-size: 13px;
    line-height: 16px;
}


.search-selector {
    z-index: 99;
}
.header {
    z-index: 98;
}


.subscribe-wrapper .subscribe-inputs-container {
    margin-right: 0;
}

label {
    font-weight: 400;
    line-height: 14px;
    font-size: 12px;
}

.header a.full-logo-dark {
    max-width: 190px;
    max-height: 50px;
}
h1.page-title {
    display: block;
    font-size: 40px;
    padding-bottom: .6em;
    margin: 0;
    line-height: 1;
    font-weight: 300;
}

h2 {
    color: #740612;
    font-size: 20px;
    font-weight: bold;
    line-height: initial;
}
.homepage h2 {
    color: #8E8E8E;
}
.home-header .logo-container h2 {
    color: #ffffff;
}
h3 {
    color: #740612;
    font-size: 14px;
    font-weight: bold;
    line-height: initial;
}


body.error a{color: #ffffff;}


.icon-add-bottle, .icon-add-bottle-active, .icon-cave, .icon-message, .icon-question-mark {
    margin-right: 5px;
}

/* les formulaires */
.subscribe-form ul{
    list-style: none;
    padding-left: 0px;
}
.subscribe-form ul li{
    color:#740612;
}


/****  Margin  ****/
.m-auto {
  margin: auto; }

.m-0 {
  margin: 0 !important; }

.m-5 {
  margin: 5px !important; }

.m-10 {
  margin: 10px !important; }

.m-20 {
  margin: 20px !important; }

/****  Margin Top  ****/
.m-t-0 {
  margin-top: 0px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.m-t-60 {
  margin-top: 60px !important; }

/****  Margin Bottom  ****/
.m-b-0 {
  margin-bottom: 0px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-b-6 {
  margin-bottom: 6px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-b-12 {
  margin-bottom: 12px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.m-b-60 {
  margin-bottom: 60px !important; }

.m-b-80 {
  margin-bottom: 80px !important; }

.m-b-140 {
  margin-bottom: 140px !important; }

.m-b-80 {
  margin-bottom: 80px !important; }

.m-b-245 {
  margin-bottom: 245px !important; }

.m-b-245 {
  margin-bottom: 245px !important; }

.m-b-m30 {
  margin-bottom: -30px !important; }

.m-b-m50 {
  margin-bottom: -50px !important; }

/****  Margin Left  ****/
.m-l-0 {
  margin-left: 0 !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-l-6 {
  margin-left: 6px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-l-60 {
  margin-left: 60px !important; }

/****  Margin Right  ****/
.m-r-0 {
  margin-right: 0 !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-r-6 {
  margin-right: 6px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.m-r-40 {
  margin-right: 40px !important; }

.m-r-50 {
  margin-right: 50px !important; }

.m-r-60 {
  margin-right: 60px !important; }

/****  Padding  ****/
.p-0 {
  padding: 0 !important; }

.p-5 {
  padding: 5px !important; }

.p-10 {
  padding: 10px !important; }

.p-15 {
  padding: 15px !important; }

.p-20 {
  padding: 20px !important; }

.p-30 {
  padding: 30px !important; }

.p-40 {
  padding: 40px !important; }

/****  Padding Top  ****/
.p-t-0 {
  padding-top: 0 !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-t-25 {
  padding-top: 25px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-t-40 {
  padding-top: 40px !important; }

.p-t-50 {
  padding-top: 50px !important; }

/****  Padding Bottom  ****/
.p-b-0 {
  padding-bottom: 0 !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-b-25 {
  padding-bottom: 25px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-b-40 {
  padding-bottom: 40px !important; }

/****  Padding Left  ****/
.p-l-0 {
  padding-left: 0 !important; }

.p-l-5 {
  padding-left: 5px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-l-40 {
  padding-left: 40px !important; }

.p-l-60 {
  padding-left: 60px !important; }

/* Padding Right  ****/
.p-r-5 {
  padding-right: 5px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.p-l-r-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

/****  Top  ****/
.t-0 {
  top: 0; }

.t-5 {
  top: 5px; }

.t-10 {
  top: 10px; }

.t-15 {
  top: 15px; }

/****  Bottom  ****/
.b-0 {
  bottom: 0; }

.b-5 {
  bottom: 5px; }

.b-10 {
  bottom: 10px; }

.b-15 {
  bottom: 15px; }

/****  Left  ****/
.l-0 {
  left: 0; }

.l-5 {
  left: 5px; }

.l-10 {
  left: 10px; }

.l-15 {
  left: 15px; }

/****  Right  ****/
.r-0 {
  right: 0; }

.r-5 {
  right: 5px; }

.r-10 {
  right: 10px; }

.r-15 {
  right: 15px; }

/****  Border Radius  ****/
.bd-0 {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

.bd-3 {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important; }

.bd-6 {
  -moz-border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  border-radius: 6px !important; }

.bd-9 {
  -moz-border-radius: 9px !important;
  -webkit-border-radius: 9px !important;
  border-radius: 9px !important; }

.bd-50p {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important; }

/****  Border Radius  ****/
.no-bd {
  border: none !important;
  box-shadow: none; }

/****  Opacity  ****/
.opacity-0 {
  opacity: 0; }

.opacity-20 {
  opacity: .2; }

.opacity-50 {
  opacity: .5; }

.opacity-70 {
  opacity: .7; }

.opacity-90 {
  opacity: .9; }

/****  Width  ****/
.width-0 {
  width: 0 !important; }

.width-300 {
  width: 300px !important; }

.min-width-40 {
  min-width: 40px; }

.width-100p {
  width: 100% !important; }

/****  Height  ****/
.h-0 {
  height: 0 !important;
  overflow: hidden !important; }

.h-20 {
  height: 20px !important;
  overflow: hidden !important; }

.h-30 {
  height: 30px !important;
  overflow: hidden !important; }

.h-40 {
  height: 40px !important;
  overflow: hidden !important; }

.h-100 {
  height: 100px !important;
  overflow: hidden !important; }

.h-150 {
  height: 150px !important;
  overflow: hidden !important; }

.h-220 {
  height: 220px !important;
  overflow: hidden !important; }

.h-250 {
  height: 250px !important;
  overflow: hidden !important; }

.h-280 {
  height: 280px !important;
  overflow: hidden !important; }

.h-300 {
  height: 300px !important;
  overflow: hidden !important; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.hide, .hideMe, .no-see {
  display: none; }

.clear {
  clear: both; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.padding {
  padding: 0.5em; }

.no-margin {
  margin: 0; }

.fixed {
  position: fixed; }

.upper {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

.strong {
  font-weight: bold; }

.text-bold {
  font-weight: bold; }

.vertical-middle {
  vertical-align: middle; }

.uppercase {
  text-transform: uppercase; }

.text-upper {
  text-transform: uppercase; }



/* POPIN */
#flashBagModal .modal-content {
    background-color:transparent;    
}
#flashBagModal .close{
    padding-right: 5px;
}

.modal .modal-header{
    background-color: #740612;
    color:#ffffff;
    font-family: 'Vollkorn', serif;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
}
.modal-header .close{
    color:#ffffff;
}

.modal .btn{    
    padding-left: 10px;
    padding-right: 10px;
}

/* modal loading */
img.loadingWheel {
  margin: 15% auto;
  width: 43px;
  position: relative;
  display: block; }

#buttons-box img.loadingWheel {
  margin: 0 auto;
  width: 32px;
  position: relative;
  display: block; }


.icon-deconnexion{
    background: url(../img/header-icon-set.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background-position: -521px -5px;
}
a:hover .icon-deconnexion{
    background-position: -566px -5px;
}

@media screen and (max-width: 768px) {
    .search-selector {
        display: none;
    }
}




.input-group-addon {
    border-radius: 5px;
    background: #f6f6f6;
    outline: 0;
    border: 1px solid #e5e5e5;   
}

/* HEADER */
.connected .home-header-nav a {
    margin-right:5px;
    margin-left:0px;
    float:left;
}
.connected .home-header-nav a:last-child {
    margin-right: 0;
}

/* HOME */
.monthly-pick-thumbnail a{width:100%;height:100%;color:#FFF;display:block;text-decoration:none}
.monthly-pick-thumbnail li:hover a{opacity:1;}
.monthly-pick-thumbnail a{position:relative;background:rgba(0,0,0,.2);opacity:0;-webkit-transition:opacity .1s,-webkit-transform .1s;transition:opacity .1s,transform .1s}

/* SEARCH SELECTOR */
.form-bottle-search input[type=text], .form-swapper-search input[type=text] {    
    box-sizing: content-box;
}
.form-bottle-search .keyword, .form-swapper-search .keyword {
    border-radius: 5px 0 0 5px;
    height: 33px;
    width: 225px;
    min-width: 225px;
    outline: 0;
    float: left;
    -webkit-appearance: none;
}
.form-bottle-search .keyword:focus, .form-swapper-search .keyword:focus {
    background:#ffffff;
}
.form-bottle-search, .form-swapper-search {
    padding: 35px 0 30px 0;
}


/* INSCRIPTION */
.inscription .btn-default{
    padding-bottom: 35px;
}
.inscription .input-group.date input{    
    margin-bottom: 0px;
}

/* MA CAVE */
.cave-wrapper {
    margin-top: -20px;
}

/* PROFIL */
.blocInfo{    
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
}
.blocInfo h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.blocInfo h2.gris{
    color:#7a7a7a;
}
.blocInfo h2.gris span{ 
    font-family: Arial, serif;
    padding-left:20px;
}

.editerProfil{
    text-transform: none;
    font-size: 12px;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.ma-cave .btn-default {
    padding-bottom: 10px;
}

.modifier-profil .profile-image .btn-modify {
    opacity: 0;
    color:#ffffff;
}
.modifier-profil .profile-image .btn-modify:hover {
    opacity: 1;
    color:#ffffff;
}
.modifier-profil .btn-modify{
    top: 15%;    
}
.modifier-profil .subscribe-wrapper .upload-btn {    
    margin: 20px auto;
}


/* BOUTEILLES */
article.type-region-rouge .image .dot-qte{background-color:#740612;}
article.type-region-blanc .image .dot-qte{background-color:#eeeeee;}
article.type-region-effervescent .image .dot-qte{background-color:#e8de46;}
article.type-region-champagne .image .dot-qte{background-color:#e8de46;}
article.type-region-liquoreux .image .dot-qte{background-color:#bda500;}
article.type-region-rose .image .dot-qte{background-color:#c96e84;}

article.type-region-rouge .description{border-bottom-color:#740612;}
article.type-region-blanc .description{border-bottom-color:#eeeeee;}
article.type-region-effervescent .description{border-bottom-color:#e8de46;}
article.type-region-champagne .description{border-bottom-color:#e8de46;}
article.type-region-liquoreux .description{border-bottom-color:#bda500;}
article.type-region-rose .description{border-bottom-color:#c96e84;}

.ma-cave article .actions-btns{
    text-align: center;
}
.ma-cave article .btn-default.btn-edit, .ma-cave article .btn-default.btn-delete{
    padding: 0px 0px;
    width: 30%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    display:inline-block;
}

.winethumb .owner-container .info-owner {    
    margin: -10px 0px 20px 20px;
}

.winethumb h3 {
    min-height: 18px;
}

/* AJOUT BOUTEILLE */
.add-bottle-form .data-container button, .add-bottle-form .data-container label, .add-bottle-form .data-container select, .add-bottle-form .data-container textarea {
    width:100%;
}
.add-bottle-form .level-container{
    text-align: center;
}
.add-bottle-form .level-bottle .the-fullness {
    top: 20%;
}
#AjouterBouteille {
    padding-bottom: 5px;
}

/* EDIT BOUTEILLE */
#FormEditBouteille {
    text-align:center;
}
.add-bottle-form .data-container button, .add-bottle-form .data-container label, .add-bottle-form .data-container select, .add-bottle-form .data-container textarea {
    width:100%;
}
.add-bottle-form .level-container{
    text-align: center;
}
.add-bottle-form .level-bottle .the-fullness {
    top: 20%;
}
.ma-cave.editer-bouteille #ModifierBouteille, .ma-cave.editer-bouteille #SupprimerBouteille {
    position:relative;
    display:inline-block;
    line-height: 22px;
    font-size: 16px;
    padding-bottom: 5px;
}

.ma-cave.editer-bouteille .btn-default.btn-delete{
    width: 215px;
    padding: 5px;
    margin: 7px auto 0;
    font-size: 16px;
    line-height: 22px;
    display:inline-block;
    font-family: Vollkorn,serif;
    text-transform: uppercase;
}


/* FICHE */
.profile-light h3 {
    color:#ffffff;
}
.bottle-info-wrapper .select-bottle label{
    color: #740612;
    font-weight: 700;
    font-size:16px;
    line-height: normal;
}


/* SA CAVE */
body.cave.fiche-bouteille .top-bottle-container{
    max-width: 200px;
    margin-left: 0px;
    margin-bottom: 10px;
}


/* NOTRE HISTOIRE */
.notre-histoire ul li{
    font-size: 14px;
}
.how-to-wrapper p {
    font-size: 13px;
}
.icon-cave-big, .icon-magnifier-big, .icon-map-big, .icon-swap-bottle-big, .icon-swap-place-big {
    margin-bottom: 20px;
}


/* MESSAGERIE */
.troc-actions .choix-actions form{ display:inline-block;}
.troc-actions .choix-actions button.btn-default{ display:inline-block;}
.troc-actions .choix-actions a.btn-default{ display:inline-block; width:140px;}
