@font-face{font-family:Kraskario;src:url('../font/Kraskario italic.eot');src:url('../font/Kraskario italic.eot?#iefix') format("embedded-opentype"),url('../font/Kraskario italic.woff') format("woff"),url('../font/Kraskario italic.ttf') format("truetype"),url('../font/Kraskario italic.svg#8ef8733a171129a0fc9f1b1f55419d45') format("svg");font-style:italic;font-weight:400}@font-face{font-family:Kraskario;src:url(../font/Kraskario.eot);src:url(../font/Kraskario.eot?#iefix) format("embedded-opentype"),url(../font/Kraskario.woff) format("woff"),url(../font/Kraskario.ttf) format("truetype"),url(../font/Kraskario.svg#a4c2295c26027ff7036282a85b4a6267) format("svg");font-style:normal;font-weight:400}@font-face{font-family:Vollkorn;src:url(../font/Vollkorn-Medium.eot);src:url(../font/Vollkorn-Medium.eot?#iefix) format("embedded-opentype"),url(../font/Vollkorn-Medium.woff) format("woff"),url(../font/Vollkorn-Medium.ttf) format("truetype"),url(../font/Vollkorn-Medium.svg#4057c7f30eb11c440d7c538ed2d05194) format("svg");font-style:normal;font-weight:700}@font-face{font-family:Vollkorn;src:url(../font/Vollkorn-BoldItalic.eot);src:url(../font/Vollkorn-BoldItalic.eot?#iefix) format("embedded-opentype"),url(../font/Vollkorn-BoldItalic.woff) format("woff"),url(../font/Vollkorn-BoldItalic.ttf) format("truetype"),url(../font/Vollkorn-BoldItalic.svg#4057c7f30eb11c440d7c538ed2d05194) format("svg");font-style:italic;font-weight:700}@font-face{font-family:Vollkorn;src:url(../font/Vollkorn-Italic.eot);src:url(../font/Vollkorn-Italic.eot?#iefix) format("embedded-opentype"),url(../font/Vollkorn-Italic.woff) format("woff"),url(../font/Vollkorn-Italic.ttf) format("truetype"),url(../font/Vollkorn-Italic.svg#4057c7f30eb11c440d7c538ed2d05194) format("svg");font-style:italic;font-weight:400}@font-face{font-family:Vollkorn;src:url(../font/Vollkorn-Medium.eot);src:url(../font/Vollkorn-Medium.eot?#iefix) format("embedded-opentype"),url(../font/Vollkorn-Medium.woff) format("woff"),url(../font/Vollkorn-Medium.ttf) format("truetype"),url(../font/Vollkorn-Medium.svg#4057c7f30eb11c440d7c538ed2d05194) format("svg");font-style:normal;font-weight:500}@font-face{font-family:Vollkorn;src:url(../font/Vollkorn-MediumItalic.eot);src:url(../font/Vollkorn-MediumItalic.eot?#iefix) format("embedded-opentype"),url(../font/Vollkorn-MediumItalic.woff) format("woff"),url(../font/Vollkorn-MediumItalic.ttf) format("truetype"),url(../font/Vollkorn-MediumItalic.svg#4057c7f30eb11c440d7c538ed2d05194) format("svg");font-style:italic;font-weight:500}@font-face{font-family:Vollkorn;src:url(../font/Vollkorn-Regular.eot);src:url(../font/Vollkorn-Regular.eot?#iefix) format("embedded-opentype"),url(../font/Vollkorn-Regular.woff) format("woff"),url(../font/Vollkorn-Regular.ttf) format("truetype"),url(../font/Vollkorn-Regular.svg#4057c7f30eb11c440d7c538ed2d05194) format("svg");font-style:normal;font-weight:400}
body{
    background-color:#e2e2e2;
}

.container {
    width: 100%;
}

.modal-body .row{ margin-left: 0px; margin-right: 0px;}

body.auth #global-wrapper{
    width:600px;
    margin:0 auto;
}

i.fa-bottle{
    background: url(../img/header-recherche-iconset.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 6px;
    width: 8px;
    height: 22px;
    background-position: -5px -5px;
}

.table .image{height:230px;width:142px;float:left;background-repeat:no-repeat;background-size:cover;background-position:center}
body.membres .table .image{height:65px;width:65px;float:left;background-repeat:no-repeat;background-size:cover;background-position:center}


/* bouteille show */
.bottle-info-wrapper {
    padding: 1em 0;
    background: #F6F6F6;
}
.wrapper {
    padding: 10px 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.bottle-info-wrapper .image-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%;
}
.wine-image {
    height: 321px;
    background: center no-repeat #ddd;
    background-size: cover;
}
.bottle-info-wrapper .wine-image {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
form .wine-image {
    background-size: contain;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.bottle-info-wrapper .image-container .dot-qte, .header-message .image-wine-container .dot-qte, .they-got-it-wrapper .image-container .dot-qte {
    line-height: .7;
    text-align: center;
    font-family: Vollkorn,serif;
}
.bottle-info-wrapper .image-container .dot-qte {
    border-radius: 100%;
    font-size: 34px;
    width: 34px;
    height: 34px;
    background: #740612;
    color: #FFF;
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
}
.rating {
    padding: 10px 0;
}
.rating .icon-rate, .rating .text {
    display: inline-block;
    vertical-align: middle;
    color: #740612;
    font-size: .8em;
    margin-right: 5px;
}
.rating .icon-rate, .rating .text {
    display: inline-block;
    vertical-align: middle;
    color: #740612;
    font-size: .8em;
    margin-right: 5px;
}
.icon-rate.icon-bottle-rate-container .icon-bottle-static, .bottle-info .star-container .icon-bottle-static {
    width: 11px;
    height: 32px;
    background: url(../img/icon-bottle-rate.png) -5px -5px no-repeat;
    position: relative;
    float: left;
    margin-left: 12px;
    display: block;
    font-weight: 400;
    line-height: 14px;
    font-size: 12px;
    max-width: 100%;
    margin-bottom: 5px;
}
.icon-rate.icon-bottle-rate-container .icon-bottle-static.full-bottle, .bottle-info .star-container .icon-bottle-static.full-bottle {
    background-position: -26px -5px;
}
.bottle-info-wrapper .bottle-info {
    padding: 0;
}
.bottle-info-wrapper .bottle-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 44.55627%;
}
.bottle-info-wrapper .bottle-info:last-child {
    margin-right: 0;
}
.bottle-info-wrapper .bottle-info .title {
    color: #740612;
    margin-bottom: 30px;
}
.bottle-info-wrapper .bottle-info .title h2 {
    color: #740612;
    font-size: 20px;
    font-weight: bold;
    line-height: initial;
}
.bottle-info-wrapper .bottle-info .title h2 {
    margin: 0 0 20px;
    max-width: 75%;
    font-weight: 300;
    font-family: Vollkorn,serif;
    font-size: 25px;
}
.bottle-info-wrapper .bottle-info .title span {
    display: inline-block;
    margin: 0 10px 5px 0;
}

.bottle-info-wrapper .bottle-info .info {
    font-size: .8em;
}

.bottle-info-wrapper .bottle-info .info p {
    white-space: pre-line;
    margin: 0 0 10px;
    margin-bottom: 30px;
}
.bottle-info-wrapper .bottle-info .info b{
    font-weight: 700;
}
.star-container .icon-rate, .star-container .text {
    display: inline-block;
    vertical-align: middle;
    color: #740612;
    margin-right: 5px;
}

.bottle-info-wrapper .qte-level {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
}
.level-bottle {
    height: 182px;
    width: 65px;
    overflow: hidden;
    position: relative;
}
.bottle-info-wrapper .qte-level .level-bottle {
    margin: 30px auto 0;
}

.level-bottle .the-shape {
    background: url(../img/big-bottle.png);
    height: 100%;
    position: relative;
    z-index: 99;
}
.level-bottle .the-emptyness, .level-bottle .the-fullness {
    background: #740612;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.level-bottle .the-emptyness {
    opacity: .4;
    top: 0;
}
.level-bottle .the-fullness {
    top: 90%;
    -webkit-transition: top .3s cubic-bezier(.175,.885,.32,1.275);
    transition: top .3s cubic-bezier(.175,.885,.32,1.275);
}

body.bouteilles label { min-width:150px;}
body.bouteilles .row{ margin-bottom: 10px;}


/* MEMBRES */
body.membres label { min-width:150px;}
body.membres .row{ margin-bottom: 10px;}
body.membres .form-group div.form-inline { display: inline; }
body.membres.show span{
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

/* MEAS */


.mea-image {
    height: 230px;
    background: center no-repeat #ddd;
    background-size: cover;
}
.mea-image-1 { height: 230px; width:475px; }
.mea-image-2 { height: 474px; width:230px; }
.mea-image-3 { height: 230px; width:230px; }
.mea-image-4 { height: 230px; width:230px; }

/*
.mea-image-1.mini { height: 23px; width:47px; }
.mea-image-2.mini { height: 47px; width:23px; }
.mea-image-3.mini { height: 23px; width:23px; }
.mea-image-4.mini { height: 23px; width:23px; }
*/

.bloc-mea-wrapper{
    max-width: 720px;
    position:relative;
}
.bloc-mea {
    float: left;
    margin: 0 2% 2% 0;
    position: relative;
}
.bloc-mea.bloc-mea-1{ max-width: 480px; width: 66%; }
.bloc-mea.bloc-mea-2{ width:32%; float: right; margin: 0 0% 2% 0;}
.bloc-mea.bloc-mea-3{ width:32%; }
.bloc-mea.bloc-mea-4{ width:32%; }
.bloc-mea span{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    color:#ffffff;
    background-color:#740612;
    border-radius: 5px;
    text-align: center;
    display:block;
    width:20px;
}
.bloc-mea a{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}

.bt-help-tooltip{
    width: 16px;
    height: 16px;
    padding: 0 0 0 0;
    background-color: #333;
    color:#ffffff;
}
.bt-help-tooltip:focus,.bt-help-tooltip:hover{
    background-color: #000000;
    color:#ffffff;
}
.popover-content {
    white-space: pre-line;
}

/* MEAS HOME */

body.meas .bloc-mea-wrapper{
    max-width: 100%;
    position:relative;
}
body.meas .bloc-mea {
    float: left;
    margin: 0 1% 2% 0;
    position: relative;
    width: 24%;
}
body.meas .bloc-mea span.etiquetteNom {
    position: absolute;
    top: 90px;
    left: 5%;
    width: 90%;
    text-align: center;
    z-index: 10;
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    display: block;    
}

body.meas .mea-image.mini {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    width:247px;
    height: 227px;
    margin-right: 1%;
    overflow: hidden;
}

body.meas .bloc-mea a.btn-active{
    position: absolute;
    bottom: 10px;
    left: 80px;
    z-index: 10;
}

body.meas .mea-image.mea-image-edit {       
    width:247px;
    height: 227px;
    background: center no-repeat #ddd;
    background-size: cover;
    margin:0 auto;
}


/* PRESSE */

.presse-image {
    height: 175px;
    background: center no-repeat #ddd;
    background-size: cover;
}
body.presses .bloc-presse-wrapper{
    max-width: 100%;
    position:relative;
}
body.presses .bloc-presse {
    float: left;
    margin: 0 1% 2% 0;
    position: relative;
    width: 16%;
    min-width: 175px;
}
body.presses .bloc-presse span.etiquetteNom {
    position: relative;    
    width: 100%;
    text-align: center;
    z-index: 10;
    display: block; 
    
    font-family: Vollkorn,serif;
    font-size: 16px;
    font-weight: 300;
    color: #740612;
    margin: 0;
}
body.presses .bloc-presse span.etiquette {
    position: relative;    
    width: 100%;
    text-align: center;
    z-index: 10;
    display: block; 
    
    font-family: sans-serif;
    font-size: .8em;
    font-weight: 300;
    color: #8E8E8E;
    margin: 0;
}

body.presses .presse-image.mini {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    width:175px;
    height: 175px;
    margin-right: 1%;
    overflow: hidden;
}

body.presses .bloc-presse a.btn-edit{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

body.presses .bloc-presse a.btn-active{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
}

body.presses .presse-image.presse-image-edit {       
    width:175px;
    height: 175px;
    background: center no-repeat #ddd;
    background-size: cover;
    margin:0 auto;
}

body.presses .checkbox input[type=checkbox] {
    margin-top:-7px;
}


/* PARTENAIRE */

.partenaire-image {
    height: 175px;
    background: center no-repeat #ddd;
    background-size: cover;
}
body.partenaires .bloc-partenaire-wrapper{
    max-width: 100%;
    position:relative;
}
body.partenaires .bloc-partenaire {
    float: left;
    margin: 0 1% 2% 0;
    position: relative;
    width: 16%;
    min-width: 175px;
}
body.partenaires .bloc-partenaire span.etiquetteNom {
    position: relative;    
    width: 100%;
    text-align: center;
    z-index: 10;
    display: block; 
    
    font-family: Vollkorn,serif;
    font-size: 16px;
    font-weight: 300;
    color: #740612;
    margin: 0;
}
body.partenaires .bloc-partenaire span.etiquette {
    position: relative;    
    width: 100%;
    text-align: center;
    z-index: 10;
    display: block; 
    
    font-family: sans-serif;
    font-size: .8em;
    font-weight: 300;
    color: #8E8E8E;
    margin: 0;
}

body.partenaires .partenaire-image.mini {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    width:175px;
    height: 175px;
    margin-right: 1%;
    overflow: hidden;
}

body.partenaires .bloc-partenaire a.btn-edit{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

body.partenaires .bloc-partenaire a.btn-active{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
}

body.partenaires .partenaire-image.partenaire-image-edit {       
    width:175px;
    height: 175px;
    background: center no-repeat #ddd;
    background-size: cover;
    margin:0 auto;
}

body.partenaires .checkbox input[type=checkbox] {
    margin-top:-7px;
}