body{
    font-family: Arial, serif;
}

.site-wrapper{
    margin:0 auto;
    width:100%;
    max-width: 990px;
}

.Vollkorn{   
    font-family: 'Vollkorn', serif;
}
.txt11px{
    font-size: 11px;
    line-height: 14px;
}
.txt12px{
    font-size: 12px;
    line-height: 15px;
}
.txt13px{
    font-size: 13px;
    line-height: 16px;
}

/* HEADER */
header{
    position:fixed;
    width: 100%;
    z-index: 100;
}
header .navlink a{
    display:inline-block;
    width:96px;
    height:40px;
    text-align:center;
    padding-top:12px;
    padding-bottom:12px;
    color:#FFFFFF;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-decoration: none;
}
header .navlink a:hover,header .navlink a.active{
    background-color:#740612;
    color:#FFFFFF;
}

/* BANDEAU */
#bandeauWrapper {
    width: 100%;
}
.bandeau {
    background-image: url(../img/fonds/bandeau01.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 197px;
    width: 100%;
    max-width: 1392px;
    margin: 0 auto;
}
body.homepage .bandeau {
    background-image: url(../img/fonds/bandeau_home.jpg);
    height: 407px;
}
.bandeau img.logo{
    padding-top: 15px;
}

.bandeau h1{
    font-family: 'Vollkorn', serif;
    color:#FFFFFF;
    font-size: 50px;
    line-height: 53px;
    font-weight: 400;
    margin: 0 0 0 0;
    padding-top:50px;
}
body.homepage .bandeau h1{
    font-size: 40px;
    line-height: 43px;
    font-weight: 400;
    margin: 0 0 0 0;
    padding-top:80px;
}
body.homepage .bandeau h2{
    color:#FFFFFF;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin: 0 0 0 0;
    padding-top:30px;
}

/* FOOTER */
footer{
    background-color: #740612;
    color:#FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    padding-top:40px;
    padding-bottom:40px;
    margin-top: 40px;
}
footer a{
    color:#FFFFFF;
    text-decoration: none;
}
footer a:hover{
    color:#FFFFFF;
    text-decoration: underline;
}
footer a.active{
    color:#FFFFFF;
    text-decoration: underline;
}

.mentions-footer{
    padding-top:70px;
}


/* FORMS */
.btn {
    text-align: left;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 0;
    padding-top: 3px;
    border: 0;
    font-size: 16px;
    line-height: 32px;
}
.btn.bg-pourpre {
    background-color: #740612;
    color: #FFF;
}

.form-box p{
    font-size: 16px;
    line-height: 19px;
}
.form-box .form-group {
    min-height: 70px;
    vertical-align: top;
    width: 100%;
}

.form-box label {
    display: block;
    color: #888888;
    font-weight: normal;
}

.form-box .form-control {
    height: 44px;
    font-size: 12px;
    padding: 6px 9px;
    background: #f4f4f4;
    -moz-box-shadow: 0 0 0 #000;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    border-color: #eaeaec;
    width: 100%;
    box-sizing: border-box;
}

.form-type-1 > div {
    vertical-align: top;
}

.form-type-1 .form-group-wrapper {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}
.form-type-1 .form-group-wrapper.p-right {
    padding-right: 3.5% !important;
}
.form-type-1 .password {
    display:inline;
}
.form-type-1 .password .form-group-wrapper {
    padding-right: 3.5% !important;
}

.address-box > .form-group-wrapper {
    width: 100%;
    position: relative;
}

#RegisterMember_address > div {
    margin-right: 30px;
    width: 150px;
}

#RegisterMember_address > div:nth-child(1) {
    width: 330px;
}
#RegisterMember_address > div.form-group-wrapper:nth-child(-n+3) {
    margin-bottom: 10px;
}


#RegisterMember_submit, body.inscription div.text-right.p-b-30 > button:first-child {
    padding: inherit;
    width: 80% !important;
    text-align: center !important;
}
#RegisterMember_submit {
    padding: 8px 35px 8px 35px;
    font-size: 20px;
    line-height: 23px;
    text-transform: none;
}




/* HOMEPAGE */

body.homepage .meaTypeDeVinWrapper{
    margin-top:20px;
    margin-bottom:20px;
}
body.homepage .meaTypeDeVin{
    margin-top:20px;
}
body.homepage .meaTypeDeVin h2{    
    font-family: 'Vollkorn', serif;
    color:#8e8e8e;
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
    margin: 0 0 0 0;
    padding-top:0px;
}
body.homepage .meaTypeDeVin p{    
    color:#8e8e8e;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin: 0 0 0 0;
    padding-top:10px;
}

/*
body.homepage .meaTypeDeVin .vignetteMea a img{  
    border:1px solid #ffffff;
}*/
body.homepage .meaTypeDeVin .vignetteMea a:hover{
    text-decoration: none;
}
/*
body.homepage .meaTypeDeVin .vignetteMea a:hover img{
    text-decoration: none;
    border:1px solid #740612;
}*/
body.homepage .meaTypeDeVin .vignetteMea span{
    display:block;
    margin-top: -120px;
    margin-bottom: 92px;  
    font-family: 'Vollkorn', serif;
    color:#ffffff;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
}
body.homepage .meaTypeDeVin.allTheWine{
    margin-top:0px;
}
body.homepage .meaTypeDeVin.allTheWine a{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
}

body.homepage .col-md-1-5{
    width:12.5%;
}
body.homepage .thumbnail:hover{
    border:1px solid #740612;
}



/* POPIN */
#flashBagModal .modal-content {
    background-color:transparent;    
}
#flashBagModal .close{
    padding-right: 5px;
}

.modal .modal-header{
    background-color: #740612;
    color:#ffffff;
    font-family: 'Vollkorn', serif;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
}
.modal-header .close{
    color:#ffffff;
}

.modal .btn{    
    padding-left: 10px;
    padding-right: 10px;
}