{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Mentions Légales - {{ parent() }}{% endblock %}

{% block bodyclass %}mentions-legales{% endblock %}

{% block header %}
    {% set titreH1 = "Mentions Légales" %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    
    <div class="site-wrapper"> 
        <div class="row"> 
            <div class="wrapper"> 
                
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Mentions légales</h2>
                        <p>Nous vous prions de lire les présentes modalités d’utilisation du site www.trocwine.com avant d’y naviguer. En vous connectant, inscrivant et parcourant ce site vous acceptez dès lors sans réserve les présentes modalités et informations.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Éditeur de TrocWine</h2>
                        <p>TrocWine.com<br>6 allée des brouillards<br>75018 Paris FRANCE<br>tel : 0033 6 43 65 22 32<br>@ : info@trocwine.com<br>Déclaration du CNIL : xBx1544641C<br>Dispenses du CNIL :  xBx1544641C</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Modalités et conditions d’utilisation</h2>
                        <p>Le site est accessible par les url : www.trocwine.com qui est exploité dans le respect de la législation française. L’utilisation entière du site est régie par les conditions générales présentes. En naviguant ou utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront être modifiées à tout moment et sans préavis de TrocWine.com, son équipe, son fondateur, son co-fondateur ou son responsable éditoriale.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Responsable éditoriale au 01/09/2015</h2>
                        <p>M. Arthur Tutin<br>6 allée des brouillards<br>75018 Paris FRANCE<br>tel : 0033 6 43 65 22 32<br>@ : at@trocwine.com<br>www.trocwine.com</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Limitation de responsabilité</h2>
                        <p>Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement mis à jour, il arrive cependant d’y trouver des inexactitudes, des omissions et lacunes. Si vous constatez une coquille, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par écrit via l’adresse email suivante : info@trocwine.com. En donnant les caractéristiques du problème de la manière la plus précise possible. Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, TrocWine.com et son équipe ne sauraient être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement. Toutes les photos téléchargées par les utilisateurs de TrocWine.com ou par l’équipe éditoriale du site sont non contractuelles. TrocWine.com et son équipe ne se portent pas garant de la qualité et de l’état des bouteilles misent en ligne par ses utilisateurs. En cas de perte, d’inexactitude, de casse ou de contrefaçon lors d’un troc ou sur son site, TrocWine.com et son équipe ne pourront être tenu responsable par ses utilisateurs ou tout autres tiers. Les lieux de rencontres proposés par TrocWine.com sont d’avis strictement personnels, si vous êtes restaurateurs, hôteliers ou autres et que vous ne souhaitez plus faire partie de liste de points de rencontre merci de vous adresser à info@trocwine.com. TrocWine.com ne se tient pas responsable et ne pourra pas être tenu responsable des adresses proposées ou téléchargées par ses utilisateurs.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Liens hypertextes</h2>
                        <p>Ils sont mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet et ne sauraient engager la responsabilité de TrocWine.com et son équipe.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Litiges</h2>
                        <p>LitigesLes présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le site. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Déclaration à la CNIL</h2>
                        <p>xBx1544641C</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Droit d'accès</h2>
                        <p>En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale au 6 allée des Brouillards 75018 Paris ou par email à : info@trocwine.com. Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute et services offert par TrocWine.com et ses partenaires.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Confidentialité</h2>
                        <p>Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation et services offert par TrocWine.com et ses partenaires.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Propriété intellectuelle</h2>
                        <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de TrocWine.com à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
                        <p>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de TrocWine.com et son fondateur. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des contenus copiés pourraient intenter une action en justice à votre encontre.</p>
                        <p>TrocWine.com est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.</p>
                        <p>Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL : www.trocwine.com, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de TrocWine.com et son fondateur.</p>
                        <p>Des conditions spécifiques sont prévues pour la presse. Contactez nous via l’adresse email suivante : info@trocwine.com</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Hébergeur</h2>
                        <p>OVH<br>Plateforme de gestion et création de sites internet<br>www.ovh.com<br>tel : 1007</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Conditions de service</h2>
                        <p>Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox et Chrome.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Informations et exclusion</h2>
                        <p>L’équipe de TrocWine met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de son site internet. Toutefois, des erreurs ou coquilles, oublis peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de TrocWine.com, et signaler toutes modifications du site qu'il jugerait utile. TrocWine.com et son équipe ne sont en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Cookies</h2>
                        <p>Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Liens hypertextes</h2>
                        <p>Les sites internet ne provenant pas de TrocWine.com ne peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet sans l’autorisation de TrocWine.com et son fondateur.</p>
                        <p>TrocWine ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. et ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. TrocWine.com et son équipe ne pourront être tenu pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.</p>
                        <p>Les utilisateurs, les abonnés et les visiteurs des sites internet de TrocWine.com ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de TrocWine.com et son fondateur.</p>
                        <p>Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un sites internet, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. TrocWine.com et son équipe se réservent le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Recherche</h2>
                        <p>En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que TrocWine.com et son équipe reconnaissent ou acceptent quelques responsabilité quant à la teneur ou à l'utilisation dudit site.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Précautions d'usage</h2>
                        <p>Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc…. (ou tout autres maladies ou autres)</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper pair">
                    <div class="site-wrapper">   
                        <h2>Responsabilité</h2>
                        <p>Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par TrocWine.com apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. TrocWine.com et son équipe ne seront en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.</p>
                    </div>
                </div>
                <div class="fullwidth-wrapper impair">
                    <div class="site-wrapper">  
                        <h2>Contact</h2>
                        <p>Vous pouvez nous contacter tous les jours par email à : info@trocwine.com ou par n’importe qu’elle autre adresse email, postale, proposée dans nos mentions légales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

