{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Partenaires - {{ parent() }}{% endblock %}

{% block bodyclass %}partenaires{% endblock %}

{% block header %}
    {% set titreH1 = "Partenaires" %}
    {% set use_red_title = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    
    <div class="site-wrapper"> 
        <div class="row"> 
            <div class="wrapper contact-wrapper">                
            </div>
        </div>
    </div>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

