{% extends "BackOfficeBundle::layout.html.twig" %}

{% block content %}


    <section id="top-header"></section>

    <div id="main">
        <div class="container">

            Bienvenue dans le Back Office

        </div>
        <!-- END .CONTAINER -->
    </div>
    <!-- END #MAIN -->


{% endblock %}