<div class="row">
    <div class="col-lg-12"><p><a href="{{path('back_office_type_regions')}}" class="btn btn-default btn-sm" role="button"><i class="fa fa-caret-left fa-fw"></i> Retour</a></p></div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
    