{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block bodyclass %}inscription{% endblock %}

{% block header %}
    {% set titreH1 = "Inscription" %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="site-wrapper">  
        <h2>Erreur de confirmation de votre inscription.</h2>
        <p>Votre adresse mail n'a pas été retrouvée.</p>
        <p>Merci de vérifier le lien que vous avez reçu ou contactez-nous.</p>
    </div>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

