{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block bodyclass %}inscription{% endblock %}

{% block header %}
    {% set titreH1 = "Inscription" %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="site-wrapper"> 
        <div class="row"> 
            <div class="wrapper">  
                <h2>Confirmation de votre adresse mail.</h2>
                <p>Votre adresse a bien été confirmée.</p>
                <p>Vous pouvez accéder à votre espace en vous <a href="#" onClick="showLogin(); return false;">identifiant ici</a></p>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottomJavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}

